@page
@model MyWedding.Pages.Admin.Suggestion.IndexModel
@{
}
<h1>Danh sách lời chúc</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Ngày tạo
            </th>
            <th>
                Tên người chúc
            </th>
            <th>
                Nội dung
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.suggestions)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsHidden)
            </td>
            <td>
                <a asp-page-handler="Hidden" asp-route-id="@item.ID">Ẩn</a> 
            </td>
        </tr>
        }
    </tbody>
</table>