@model MyWedding.Pages.IndexModel
<div class="pt-page pt-page-3">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-loveline" style="background-image: url('@Model.myWedding.ImageBlog');"></div>
        <div class="page-scroll">
            <div class="bg-main-image-overlay-2">
                <div class="main-section-s2">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Chuyện Tình Yêu <span><i class="fas fa-heart"></i></span></h2>
                        </div>
                        <div class="col-md-12 text-center vector-img"> <img class="img" src="/wedding/images/loveline-vector.png" alt="vector-img" /> </div>
                        <div class="clearfix"></div>
                        <div class="container">
                            <ul class="timeline">
                                @{
                                    for (int i = 0; i < Model.blogs.Count; i++)
                                    {
                                        if (i % 2 == 0)
                                        {
                                            <li data-index="@i">
                                                <div class="timeline-badge"><a><i class="fas fa-heart" style="top:8px"></i></a></div>
                                                <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="1s">
                                                    <div class="timeline-heading">
                                                        <h3 class="timeline-title">@Model.blogs[i].Title</h3>
                                                        <span class="label label-default">@Convert.ToDateTime(Model.blogs[i].CreateDate).ToString("dd / MM / yyyy")</span>
                                                    </div>
                                                    <div class="timeline-img">
                                                        <img class="img-responsive" src="@Model.blogs[i].Image" alt="coupledateimage" />
                                                    </div>
                                                    <div class="timeline-body">
                                                        <p>@Model.blogs[i].Content</p>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="timeline-inverted" data-index="@i">
                                                <div class="timeline-badge"><a href="#" target="_blank"><i class="fas fa-heart" style="top:8px"></i></a></div>
                                                <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.3s">
                                                    <div class="timeline-heading">
                                                        <h3 class="timeline-title">@Model.blogs[i].Title</h3>
                                                        <span class="label label-default">@Convert.ToDateTime(Model.blogs[i].CreateDate).ToString("dd / MM / yyyy")</span>
                                                    </div>
                                                    <div class="timeline-img">
                                                        <img class="img-responsive" src="@Model.blogs[i].Image" alt="coupledateimage" />
                                                    </div>
                                                    <div class="timeline-body">
                                                        <p>@Model.blogs[i].Content</p>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                                <li class="clearfix no-float"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>