@page
@model MyWedding.Pages.Admin.FileUpload.DetailsModel
@{
}
<div>
    <h4>Tổ chức sự kiện</h4>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.weddingFileUpload.Name" class="control-label"></label>
            <input type="text" class="form-control" asp-for="@Model.weddingFileUpload.Name"autocomplete="off">
        </div>
        <div class="form-group">
            <label asp-for="@Model.FileUploads" class="control-label"></label>
            <input type="file" class="form-control" asp-for="@Model.FileUploads">
            <input type="hidden" class="form-control" asp-for="@Model.weddingFileUpload.Path">
        </div>
        <div class="form-group">
            <label asp-for="@Model.weddingFileUpload.IsHidden" class="control-label"></label>
            <input type="checkbox" asp-for="@Model.weddingFileUpload.IsHidden" class="control-control"/>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" asp-for="@Model.weddingFileUpload.ID">
            <input type="hidden" asp-for="@Model.weddingFileUpload.IDWedding"/>
            <input type="hidden" asp-for="@Model.weddingFileUpload.DateUpload" />
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/FileUpload/Index">Về trang danh sách</a>
    <img title="@Model.weddingFileUpload.Name" src="@Model.weddingFileUpload.FullPath"/>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}