@page
@model MyWedding.Pages.Admin.Video.IndexModel
@{
}
<p>
    <a asp-page="/Admin/Video/Details">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ngày đăng
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Đường dẫn
            </th>
            <th>
                Ẩn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.weddingVideo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpload)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHidden)
                </td>
                <td>
                    <a asp-page="/Admin/Video/Details" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page-handler="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>