@page
@model MyWedding.Pages.Admin.Event.IndexModel
@{
}
<p>
    <a asp-page="/Admin/Event/Details">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ngày giờ tổ chức
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Địa chỉ tổ chức
            </th>
            <th>
                Địa chỉ bản đồ
            </th>
            <th>
                Hình ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.weddingEvent)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapAddress)
            </td>
            <td>
                <img title="@item.Title" src="@item.Image" width="200" height="200" />
            </td>
            <td>
                <a asp-page="/Admin/Event/Details" asp-route-id="@item.ID">Edit</a> |
                <a asp-page-handler="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>